@import "mixin";

body {
  background-color: #bfc7cc;
}

.container div {
  @include border-radius(10px);
  background-color: white;
}

h1 {
  background-color: white;
  text-align: center;
  border: 5px black double;
  margin: 10px -15px;
  margin-bottom: 1em;
}

#navigation {
  margin-bottom:0.5em;
  border: 2px solid black;
}

#retour {
  text-align: right;
  margin: auto;
}

.back {
    background-color: grey;
    border: 1px solid black;
}

#dossiers {
  margin-bottom: 5em;
  padding-top: 3%;
  border: 2px solid black;
}

.file {
padding-left: 20px;
}

.dossier {
  color: #585b5e;
  :hover {
    color: #557ea0;
  }
}

.fichier {
  color: #939090;
  :hover {
    color: #b2d5f4;
  }
}
